body {
    padding: 19px;
}
.card {
    margin-top: 3px;
    margin-bottom: 5px;
}
.survey {
    max-width: 720px;
    margin: 0 auto;
}

.s-header{
    padding: 9px;
    padding-top: 19px;
    background-image: linear-gradient(to top, #fff, green);
}